table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid #772cff;
  padding: 5px;
}

table td a {
  color: #fff;
}

table th {
  background-color: #85e7ff;
  color: #fff;
  background-image: linear-gradient(-249deg, transparent, #772cff);
  box-shadow: 0 0 0 1px transparent;
}

table tr {
  background-color: rgba(0, 0, 0, 0.2);
}

table tr:nth-child(even) {
  background-color: rgba(133, 231, 255, 0.2);
}

table tfoot input[type="text"] {
  width: 100%;
}

input:not([type="image" i]) {
  box-sizing: border-box;
}

.link-btn {
  cursor: pointer;
  color: #0096d6;
}

.remove-btn:hover {
  color: #b90303;
}
.edit-btn:hover {
  color: #039903;
}

.table-tools {
  display: flex;
  justify-content: space-between;
}

/* loading mask */
.loading-mask {
  position: relative;
}
.loading-mask::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #00000040;
  /* rgba(0, 0, 0, 0.25) */
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.loading-mask::after {
  content: "⭐️";
  text-align: center;
  /* content: ""; */

  position: absolute;
  border-width: 3px;
  border-style: solid;
  border-color: transparent #fff #fff;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  top: calc(50% - 12px);
  left: calc(50% - 12px);
  animation: 2s linear 0s normal none infinite running spin;
  filter: drop-shadow(0 0 2 rgba(0, 0, 0, 0.33));
}
